* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* MAIN PAGE */
.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.main {
  width: 100%;
}

/* NAV BAR */
.dinosaurs {
  width: 50%;
}

.dnaLab {
  width: 50%;
}

.jpSecurity {
  width: 50%;
}

.nublarMap {
  width: 50%;
}

.personelJP {
  width: 50%;
}

#siteB {
  width: 50%;
}

.index {
  width: 50%;
}
/* FOOTER */
.jpComplex {
  width: 25%;
}

.mrDna {
  width: 15%;
}

footer {
  background-color: white;
}

.inGen {
  width: 20%;
}

/* DNA LAB */

.dna1 img {
  width: 50%;
}

.dna2 img {
  width: 50%;
}

.dna3 img {
  width: 50%;
}

.dna4 img {
  width: 50%;
}

.dna5 img {
  width: 50%;
}

.dna6 img {
  width: 50%;
}

/* JP SYSTEM */

.oppen img {
  width: 75%;
}
