* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* MAIN PAGE */
.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

/* DINOSAURS */

/* .dinoPage {
  background-color: black;
} */

/* NAV BAR */
.dinosaurs {
  width: 40%;
}

.dnaLab {
  width: 40%;
}

.jpSecurity {
  width: 40%;
}

.nublarMap {
  width: 40%;
}

.personelJP {
  width: 40%;
}

#siteB {
  width: 40%;
}

.index {
  width: 40%;
}
/* FOOTER */
.jpComplex {
  width: 15%;
}

.mrDna {
  width: 12%;
}

.main {
  width: 100%;
}

footer {
  background-color: white;
}

.inGen {
  width: 10%;
}
